@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgb(26 26 26);
}
.cover{
    width: 100%;
    height: 100%;
    display: flex;
}
.leftside{
    height: 100%;
    width: 50%;
    background: linear-gradient(rgb(6 6 6), rgb(30 31 114));
}
.rightside{
    height: 100%;
    width: 50%;
    background: linear-gradient(rgb(137 2 21), rgb(243 108 25), rgb(250 226 4));
}
.container{
    position: absolute;
    height: 100%;
    width: 100%;
}
.navbar{
    margin: 35px 40px 8px;
    width: auto;
    height: 55px;
    background: white;
}
.top-line{
    height: 4px;
    background-color: white;
    border: 0;
    margin: 5px 40px;
}
.brand{
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    color: rgb(151 16 22);
    text-align: right;
    margin-right: 5px;
}
.spotify{
    margin-top: 90px;
    width: 100%;
}
.spotify-player{
    display: block;
    margin: auto;
    height: 150px;
}
.building{
    width: 100%;
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.5));
}